Used AdaBoost Regression because previously dont know how to approach for Classification Models.
Think this was not in our original plan - JL

# AdaBoost Regression

In [1]:
import re
import io

#General libraries needed
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Libraries for data pre-processing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import preprocessing

#For AdaBoost implementation
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.naive_bayes import GaussianNB

In [2]:
# import csv
hdb_model_data = pd.read_csv('hdb_model_data.csv')
hdb_model_data.sample(5)

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,cpi_adjusted_price_per_sqm
68987,0.1250,0.296875,1.0,1.0,0.409437,0.381729,0.673340,0.0,0.180154
11230,0.0625,0.166667,0.0,0.0,0.430746,0.244893,0.531442,0.0,0.156073
3095,0.1875,0.515625,0.0,0.0,0.394216,0.427641,0.396119,1.0,0.192986
63752,0.1250,0.276042,1.0,1.0,0.916286,0.123440,0.181152,1.0,0.597979
73295,0.1875,0.208333,1.0,1.0,0.254186,0.305434,0.839045,0.0,0.177924

In [3]:
hdb_model_data.dtypes

storey_range                  float64
floor_area_sqm                float64
no.of bto                     float64
resale application            float64
remaining_lease_months        float64
Distance to nearest MRT       float64
Distance to CBD               float64
isMatureEstate                float64
cpi_adjusted_price_per_sqm    float64
dtype: object

In [4]:
hdb_model_data.sample(5)

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,cpi_adjusted_price_per_sqm
56367,0.1250,0.083333,1.000000,1.0,0.237443,0.200546,0.639442,0.0,0.218282
28401,0.2500,0.208333,0.505255,0.0,0.619482,0.073909,0.622715,0.0,0.284021
1616,0.1875,0.208333,0.000000,0.0,0.680365,0.050399,0.733390,0.0,0.155480
14899,0.2500,0.203125,0.000000,0.0,0.757991,0.264952,0.835520,0.0,0.140162
4332,0.1250,0.307292,0.000000,0.0,0.704718,0.021128,0.777401,0.0,0.160171

In [5]:
X = hdb_model_data.iloc[:,0:8]
y= hdb_model_data.iloc[:,-1]  
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

Used for loop to find best learning rate from 0.1 to 2.0

In [6]:
#create empty dataframe to store data on learning rate
d = {'Learning Rate': [], 'r2 Score': [], 'mean squared log error': []}
check_lr = pd.DataFrame(d)

#finding the best learning rate from 0.1 to 2.0 
for i in np.arange(0.1, 2.1, 0.1):
    model = AdaBoostRegressor(n_estimators=50,learning_rate=i)

    #Fit the training feature Xs and training label Ys
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    
    r2 = metrics.r2_score(y_test, y_pred)
    m2le = metrics.mean_squared_log_error(y_test, y_pred)
    
    check_lr = check_lr.append({'Learning Rate':i, 'r2 Score':r2, 'mean squared log error':m2le}, ignore_index=True)
    
check_lr

    Learning Rate  r2 Score  mean squared log error
0             0.1  0.719317                0.002013
1             0.2  0.732320                0.001942
2             0.3  0.717393                0.002070
3             0.4  0.713577                0.002111
4             0.5  0.708840                0.002168
5             0.6  0.686638                0.002325
6             0.7  0.706857                0.002185
7             0.8  0.685790                0.002350
8             0.9  0.716751                0.002110
9             1.0  0.712047                0.002162
10            1.1  0.701369                0.002232
11            1.2  0.716587                0.002131
12            1.3  0.684352                0.002378
13            1.4  0.716753                0.002125
14            1.5  0.703803                0.002232
15            1.6  0.708732                0.002185
16            1.7  0.715537                0.002142
17            1.8  0.683371                0.002401
18            1.9  0.721289                0.002103
19            2.0  0.723496                0.002085

In [7]:
#based on above data, best learning rate is 1.7
model = AdaBoostRegressor(n_estimators=50,learning_rate=1.7)

#Fit the training feature Xs and training label Ys
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

AdaBoost Regression evaluation method from the following link:
https://www.projectpro.io/recipes/use-adaboost-classifier-and-regressor-in-python

In [10]:
print("r2 score: " + str(metrics.r2_score(y_test, y_pred)))
print("mean squared error: " + str(metrics.mean_squared_error(y_test, y_pred)))

# plt.figure(figsize=(10,10))
# sns.regplot(y_test, y_pred, fit_reg=True, scatter_kws={"s": 100})

r2 score: 0.7136650483591478
mean squared error: 0.0032932474019158283