# Random Forest Classification

In [5]:
# import packages
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn import metrics
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler

In [6]:
df_new = pd.read_csv("hbd_model_data_classification.csv")
df_new.head()

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,over_under_classification
0,5,73.0,7314,26436.0,667,908.970521,9026.295266,1,0
1,20,70.0,7314,26436.0,1100,687.185319,9015.122154,1,0
2,2,73.0,7314,26436.0,676,586.980690,8949.443986,1,0
3,5,73.0,7314,26436.0,663,800.631299,9123.690385,1,0
4,8,68.0,7314,26436.0,708,927.322849,9734.443856,1,0

In [7]:
# train test split

# features
X = df_new.iloc[:,0:8]

# target
y = df_new["over_under_classification"]

# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 424)

In [8]:
# Your code here
from sklearn.ensemble import RandomForestClassifier

# Define the model
clf = RandomForestClassifier(n_estimators = 100, random_state = 424)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

# Model Accuracy
from sklearn import metrics
print("accuracy:", metrics.accuracy_score(y_test, y_pred))
print("f1 score:", metrics.f1_score(y_test, y_pred))
print("precision:", metrics.precision_score(y_test, y_pred))
print("recall:", metrics.recall_score(y_test, y_pred))

accuracy: 0.6028136442474465
f1 score: 0.586283037805286
precision: 0.5949212384573601
recall: 0.577892098667722