### Gaussian Naive Bayes

In [1]:
import pandas as pd
import numpy as np

#Libraries for data pre-processing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

#For GNB
from sklearn.naive_bayes import GaussianNB

In [2]:
hdb_model_data_classification = pd.read_csv("hbd_model_data_classification.csv")
hdb_model_data_classification.head()

,storey_range,floor_area_sqm,no.of bto,resale application,remaining_lease_months,Distance to nearest MRT,Distance to CBD,isMatureEstate,over_under_classification
0,5,73.0,7314,26436.0,667,908.970521,9026.295266,1,0
1,20,70.0,7314,26436.0,1100,687.185319,9015.122154,1,0
2,2,73.0,7314,26436.0,676,586.980690,8949.443986,1,0
3,5,73.0,7314,26436.0,663,800.631299,9123.690385,1,0
4,8,68.0,7314,26436.0,708,927.322849,9734.443856,1,0

In [3]:
hdb_model_data_classification.shape

(77834, 9)

In [4]:
X = hdb_model_data_classification.iloc[:,0:8]
y= hdb_model_data_classification.iloc[:,-1]  

X.dtypes

storey_range                 int64
floor_area_sqm             float64
no.of bto                    int64
resale application         float64
remaining_lease_months       int64
Distance to nearest MRT    float64
Distance to CBD            float64
isMatureEstate               int64
dtype: object

In [5]:
#train test split with 80-20
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Gaussian Naive Bayes

In [6]:
model = GaussianNB()
#Fit the training feature Xs and training label Ys
model.fit(X_train, y_train)

GaussianNB()

In [7]:
print('Testing Data Results:')
#Use the trained model to predict the test data
y_pred = model.predict(X_test)
# Find the confusion matrix of the test result
cm_test = confusion_matrix(y_test, y_pred)
print(cm_test)

# Find the accuracy, precision, recall and F1 score of the test result
acc_test = accuracy_score(y_test, y_pred)
precision_test = precision_score(y_test, y_pred)
recall_test = recall_score(y_test, y_pred)
f1_test = f1_score(y_test, y_pred)
print("accuracy score = " + str(acc_test))
print("precision score = " + str(precision_test))
print("recall score = " + str(recall_test))
print("f1 score = " + str(f1_test))

Testing Data Results:
[[6273 1780]
 [5463 2051]]
accuracy score = 0.5347208839211152
precision score = 0.5353693552597233
recall score = 0.27295714665956883
f1 score = 0.3615689731159101

In [8]:
print('Training Data Results:')
#Use the trained model to predict the train data
y_train_pred = model.predict(X_train)
# Find the confusion matrix of the train result
cm_train = confusion_matrix(y_train, y_train_pred)
print(cm_train)

# Find the accuracy, precision, recall and F1 score of the train result
acc_train = accuracy_score(y_train, y_train_pred)
precision_train = precision_score(y_train, y_train_pred)
recall_train = recall_score(y_train, y_train_pred)
f1_train = f1_score(y_train, y_train_pred)
print("accuracy score = " + str(acc_train))
print("precision score = " + str(precision_train))
print("recall score = " + str(recall_train))
print("f1 score = " + str(f1_train))

Training Data Results:
[[24791  6955]
 [22210  8311]]
accuracy score = 0.5316138564568712
precision score = 0.5444124197563213
recall score = 0.2723043150617608
f1 score = 0.3630288073033831